#navbar{
    flex-direction: column;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
    overflow: hidden;
    height: 90px;
}
#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}